@import "tailwindcss";

@theme {
  --color-accent: #38bdf8;
  --color-accent-dark: #0ea5e9;
  --color-bg-main: #020617;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-slate-950 text-slate-200 font-sans;
    background-image: 
      radial-gradient(at 0% 0%, rgba(15, 23, 42, 0.5) 0, transparent 50%), 
      radial-gradient(at 100% 0%, rgba(30, 58, 138, 0.3) 0, transparent 50%);
  }

  /* Scrollbar personalizado */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-bg-main);
  }
  ::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
  }
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-indigo-500;
  }
  
  .section-padding {
    @apply py-20;
  }
}
